.container {
    position: absolute;
    top: 0;
    width: 1.4rem;
    height: 100%;

    @media (min-width: 1600px) {
        width: 1.7rem;
    }

    @media (min-width: 1800px) {
        width: 1.8rem;
    }

    .ruler {
        position: relative;
        width: 100%;
        height: 100%;

        .measure {
            $line-thickness: 1px;
            $line-color: #000;

            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: 
                repeating-linear-gradient(
                    0deg, $line-color, $line-color 1px, 
                    transparent $line-thickness,
                    transparent 70px
                    );
            background-attachment: fixed;
            
            &::before {
                content: '';
                position: absolute;
                width: 40%;
                height: 100%;
                background: 
                    repeating-linear-gradient(
                        0deg, $line-color, $line-color 1px,
                        transparent $line-thickness,
                        transparent 7px
                    );
                background-attachment: fixed;
            }

            &::after {
                content: '';
                position: absolute;
                width: 60%;
                height: 100%;
                background: 
                    repeating-linear-gradient(
                        0deg, $line-color, $line-color 1px,
                        transparent $line-thickness,
                        transparent 35px
                    );
                background-attachment: fixed;
            }
        }
    }
}

.styles-right {
    .ruler {
        .measure {
            right: -0.4rem;

            @media (min-width: 1800px) {
                right: -0.6rem;
            }

            &::before, &::after {
                right: 0;
            }
        }
    }
}