@import '../styles/mixins.scss';

.container {
    display: flex;
    color: var(--theme-charcoal);
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 8rem;

    @media (min-width: 1600px) {
        padding-top: 10rem;
    }

    @media (min-width: 1600px) {
        padding-top: 12rem;
    }
    
    .grid-wrapper {
        display: grid;
        row-gap: 40px;

        @media (min-width: 968px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        .text-content {
            @include content-center();
            margin: auto;
            flex-direction: column;
            gap: 10px;
            opacity: 0;

            .four-zero-four {
                display: flex;
                font-family: var(--abril-font);
                @include fluid-type(40, 80, 320, 512);
                @include fluid-type(60, 120, 512, 2560);
            }

            .description {
                font-family: var(--playfair-font);
                @include fluid-type(16, 22, 320, 512);
                @include fluid-type(14, 24, 512, 2560);
                max-width: 300px;
                text-align: center;
            }
        }

        .img-style {
            width: 40vw;
            min-width: 250px;
            max-width: 500px;
            margin: auto;
        }
    }    
}