@import '../../styles/mixins.scss';

.container {
    margin: 0;
    padding: 0 2.5rem;

    @media (min-width: 968px) {
        padding: 0 8rem;
    }

    //section-title-style
    div:first-child {
        margin: 0;

        @media (min-width: 1600px) {
            h1 {
                margin: 1.25rem;
            }
        }

        @media (min-width: 1800px) {
            h1 {
                margin: 1.6rem;
            }
        }
    }

    font-family: var(--playfair-font);
    font-weight: bold;

    @include fluid-type(16, 20, 320, 512);
    @include fluid-type(16, 24, 512, 2560);

    .grid {
        padding: 0;

        @media (min-width: 1600px) {
            min-height: 4.5rem;
        }

        @media (min-width: 1800px) {
            min-height: 5rem;
        }
    }

    .contact-container {
        position: relative;
        display: grid;
        margin: 1rem 0;
        gap: 1rem;
        
        @media (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                background: #727272;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
        }
    }
}