@import '../../styles/mixins.scss';

.container {
    @include flex-center();
    padding: 0 1.8rem;
    background: var(--theme-gradient);
    height: 60vh;
    height: calc(var(--quote-height) * 60);
    margin-top: 2rem;

    .quote-wrapper {
        @include flex-center();
        position: relative;
        width: 100%;
        height: 100%;

        @media (min-width: 768px) {
            max-width: 512px;
        }
        @media (min-width: 1024px) {
            max-width: 768px;
        }
        @media (min-width: 1200px) {
            max-width: 900px;
        }
    
        svg {
            height: 60%;
            overflow: visible;
        }
        
        h1 {
            font-family: var(--playfair-font);
            font-weight: 800;
            @include fluid-type(22, 28, 320, 512);
            @include fluid-type(24, 48, 512, 2560);
    
            text-align: center;
            
            margin: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
        }
    }

}
