@import '../../styles/mixins.scss';

.container {
    position: relative;
    margin: 0 2.5rem;

    @media (min-width: 968px) {
        margin: 0 8rem;
    }

    .title-style {
        @include flex-center();
        margin: 2rem 0;

        font-family: var(--abril-font);
        text-align: center;

        @include fluid-type(11, 14, 320, 512);
        @include fluid-type(11, 16, 512, 2560);


        @media (min-width: 968px ) {
            justify-content: flex-start;
            text-align: start;
        }

        @media (min-width: 1600px) {
            margin: 2.2rem;
        }

        @media (min-width: 1800px) {
            margin: 2.4rem;
        }
    }
}