@import '../../styles/mixins.scss';

footer {
    @include grid-layout();

    .container {
        padding: .8rem 0;

        span {
            font-family: var(--playfair-font);
            text-align: center;

            @include fluid-type(8, 12, 320, 512);
            @include fluid-type(9, 18, 512, 2560);

            grid-row: 2;
            padding: 1rem 0;

            @media (min-width: 968px) {
                order: -1;
                text-align: left;
                grid-row: unset;
                padding: 0;
            }

            a {
                text-decoration: underline;
                color: #171717;
                font-weight: bold;
                opacity: 0.5;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .social-container {
            display: grid;
            grid-template-columns: auto;
            grid-auto-flow: column;
            width: 100%;
            height: 100%;
            margin: .8rem 0;

            text-align: center;

            align-items: center;

            a {
                margin: 0 auto;
            }

            @media (min-width: 968px) {
                justify-content: right;
                text-align: right;
                
                a:not(:last-child) {
                    margin: 0 4rem 0 0;
                }
            }

            @include fluid-type(18, 24, 320, 512);
            @include fluid-type(18, 26, 512, 2560);
        }
    }
}