:root {
  --gradient-alpha: 0.25;
  --theme-charcoal: #454e57;
  --theme-gradient: linear-gradient(
        to right, 
        rgba(41, 169, 224, var(--gradient-alpha)), 
        rgb(249, 173, 66, var(--gradient-alpha)), 
        rgb(230, 19, 137, var(--gradient-alpha))
    );
  --abril-font: 'Abril Fatface';
  --playfair-font: 'Playfair Display';
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: block;
  line-height: 1;
  color: var(--theme-charcoal);
  box-sizing: border-box;
  overscroll-behavior-y: none;
  // -ms-overflow-style: none;
  scrollbar-width: none;
  

  div {
    box-sizing: border-box;
  }
}

body::-webkit-scrollbar {
  display: none;
}

#page-transition-wrapper {
  overflow: hidden;
}

main {
  min-height: calc(100vh - 4rem);
}

a {
  text-decoration: none;
  color: var(--theme-charcoal);
}