@import '../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --theme-charcoal: #454e57;
  --theme-gray: #9E90A2;
  --theme-cream: #FAF3DD;
  --theme-burgundy: #A30B37;
  --theme-text: #202a34;
  --theme-maroon: #902923;
  --theme-yellow: #FF8C42;


  --text-color-black: #202a34;
  --gray-line-color: #D1D1D1;
  --color-theme-black: #454e57;
  --abril-font: 'Abril Fatface';
  --playfair-font: 'Playfair Display';
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: block;
  line-height: 1;
  color: var(--color-theme-black);
  box-sizing: border-box;
  overscroll-behavior-y: none;
  // -ms-overflow-style: none;
  scrollbar-width: none;

  div {
    box-sizing: border-box;
  }
}

main {
  min-height: calc(100vh - 4rem);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--theme-charcoal);
}