@import '../../styles/mixins.scss';

.banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    // background: #FFC800;
    // background: rgba(255, 200, 0, 0.65);
    background: var(--theme-gradient)
    // background: #AC7B84;
}

.divider-line {
    padding: 1.5px 0;
    background: var(--theme-charcoal);
    width: 100%;
}

.banner-title {
    position: relative;
    overflow: hidden;
    font-family: var(--playfair-font);
    font-weight: 800;
    
    display: flex;
    padding: 10px 0;
    margin: 0;
    width: 100%;

    align-items: center;
    justify-content: center;
    text-align: center;

    // @include fluid-type(26, 42, 320, 512);
    @include fluid-type(22, 28, 320, 512);
    @include fluid-type(16, 60, 512, 2560);
    
    opacity: 0;
}